<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->

<bean id="student" class ="com.example.learn.Student">
  <property name = "name" value ="Muskan"/>
  <property name="id" value="123"/>
</bean>
<bean id="branch" class ="com.example.learn.Branch">
  <property name = "name" value ="CSE"/>
  <property name="s" ref ="student"/>
</bean>
</beans>